.u-section-1 .u-sheet-1 {
    min-height: 741px;
}

.u-section-1 .u-image-1 {
    width: 650px;
    height: 631px;
    margin: 55px auto 0 0;
}

.u-section-1 .u-group-1 {
    width: 570px;
    min-height: 482px;
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    margin: -554px 0 132px auto;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-text-1 {
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: none;
    font-size: 2.25rem;
    margin: 80px auto 0;
}

.u-section-1 .u-text-2 {
    margin: 40px auto 0;
}

.u-section-1 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin: 55px auto -64px 10px;
}

.u-section-1 .u-icon-2 {
    width: 64px;
    height: 64px;
    margin: -64px auto 0 128px;
}

.u-section-1 .u-icon-3 {
    width: 64px;
    height: 64px;
    margin: -64px 115px 0 auto;
}
.u-section-1 .u-icon-4 {
    width: 64px;
    height: 64px;
    margin: -64px 0 0 auto;
}

@media (max-width: 1199px) {
    .u-section-1 .u-image-1 {
        width: 518px;
    }

    .u-section-1 .u-group-1 {
        width: 511px;
    }

    .u-section-1 .u-text-1 {
        font-size: 2.125rem;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 721px;
    }

    .u-section-1 .u-image-1 {
        width: 492px;
        height: 554px;
        margin-top: 45px;
    }

    .u-section-1 .u-group-1 {
        width: 404px;
        margin-top: -354px;
        margin-bottom: 45px;
    }

    .u-section-1 .u-text-1 {
        font-size: 1.75rem;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 831px;
    }

    .u-section-1 .u-image-1 {
        width: 418px;
        height: 418px;
        margin-top: 35px;
    }

    .u-section-1 .u-group-1 {
        width: 356px;
        margin-top: -115px;
        margin-bottom: 35px;
    }

    .u-section-1 .u-text-1 {
        font-size: 1.875rem;
    }

    .u-section-1 .u-text-2 {
        margin-top: 30px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 800px;
    }

    .u-section-1 .u-image-1 {
        width: 293px;
        height: 303px;
    }

    .u-section-1 .u-group-1 {
        width: 305px;
        margin-top: -47px;
    }

    .u-section-1 .u-text-2 {
        margin-top: 25px;
    }
}
